<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie studenta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<h1> UTWÓRZ STUDENTA</h1>

<button onclick="location.href='/students'">Return</button>
<button onclick="window.location.href='/'" class="home-button">Home</button>

<form method="post" action="/students/create">
    <input type="text" name="firstName" placeholder="Imię" required/></br>
    <input type="text" name="lastName" placeholder="Nazwisko" required/></br>
    </br>

    <label>Język</label></br>
    <select id="langSelectId" name="language" required onchange="populateTeachers(this.id, 'teacherSelectId')">
        <option value="" disabled selected>wybierz język</option>
        <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"/>
    </select>
    </br>
    </br>

    <label>Nauczyciel</label></br>
    <select id="teacherSelectId" name="teacherId" required>
        <option value="" disabled selected>wybierz nauczyciela</option>
    </select>

    </br></br>
    <button type="submit">Create</button>

</form>
</body>
</html>

<script type="text/javascript">

    function populateTeachers(languageSelectorId, teacherSelectorId) {
        let lSelect = document.getElementById(languageSelectorId);
        let tSelect = document.getElementById(teacherSelectorId);
        let url = "/teachers?language=" + lSelect.value;
        $.getJSON(url, function (teachers) {
            tSelect.innerHTML = '<option value="" disabled selected>wybierz nauczyciela</option>';
            teachers.forEach(teacher => {
                let option = '<option value="' + teacher.id + '">' + teacher.firstName + ' ' + teacher.lastName + '</option>';
                tSelect.innerHTML += option;
            })
        })
    }

</script>