<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studenci</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>LISTA STUDENTOW</h1>

<!--<p3><a href="/students/create">dodaj</a></p3>-->
<button onclick="location.href='/students/create'">Add</button>



<!--<a th:href="@{/}" class="home-button">Home</a>-->
<button onclick="window.location.href='/'" class="home-button">Home</button>
</br>
</br>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Imię </th>
        <th> Nazwisko </th>
        <th> Język </th>
        <th> Nauczyciel </th>
        <th> Version </th>
        <th> Deleted </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.language}"></td>
        <td th:text="${student.teacher}"></td>
        <td th:text="${student.version}"></td>
        <td th:text="${student.deleted}"></td>

        <td>
<!--            <button th:value="${student.id}" onclick="deleteStudent(this.value)">usuń</button>-->
<!--            <a th:href="@{/students/delete/{id}(id=${student.id})}">usuń</a>-->

        </td>


        <td>
            <button th:value="${student.id}" onclick="deleteStudent(this.value)" th:if="${!student.deleted}">USUN</button>
            <button th:value="${student.id}" onclick="bringBackStudent(this.value)" th:if="${student.deleted}">PRZYWROC
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

<script type="text/javascript">

    function deleteStudent(studentId) {
        let url = "/students?studentIdToDelete=" + studentId;
        $.ajax({
            url: url,
            method: 'DELETE',
            success: function () {
                document.location.reload()
            },
            error: function () {
                alert("nie pykło!")
            }
        })
    }

    // function deleteStudent(studentId) {
    //     let url = "/students/delete/" + studentId;
    //     $.ajax({
    //         url: url,
    //         method: 'PUT',
    //         success: function () {
    //             document.location.reload();
    //         },
    //         error: function () {
    //             alert("nie pykło!")
    //         }
    //     });
    // }

    function bringBackStudent(studentId) {
        let url = "/students/bringBack/" + studentId;
        $.ajax({
            url: url,
            method: 'PUT',
            success: function () {
                document.location.reload();
            },
            error: function () {
                alert("nie pykło!")
            }
        });
    }
</script>