<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie Nauczyciela</title>

</head>
<body>
<h1>UTWÓRZ NAUCZYCIELA</h1>

<button onclick="location.href='/teachers'">Return</button>
<button onclick="window.location.href='/'" class="home-button">Home</button>


<form th:action="${teacher != null ? '/teachers/update' : '/teachers/create'}" method="post">
    <input type="hidden" name="id" th:if="${teacher != null}" th:value="${teacher?.id}"/>

    <input type="text" name="firstName" th:value="${teacher?.firstName}" placeholder="Imię" required/></br>
    <input type="text" name="lastName" th:value="${teacher?.lastName}" placeholder="Nazwisko" required/></br>
    </br>

    <label>języki:</label></br>
    <select name="languages" multiple required>
        <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"
                th:selected="${teacher != null and teacher.languages.contains(language)}"/>
    </select>

    </br></br>
    <button type="submit" th:text="${teacher != null ? 'Update' : 'Create'}">Submit</button>


</form>



</body>
</html>






<!--<form method="post" action="/teachers/create">-->
<!--    <input type="text" name="firstName" placeholder="Imię" required/></br>-->
<!--    <input type="text" name="lastName" placeholder="Nazwisko" required/></br>-->
<!--    </br>-->

<!--    <label>języki:</label></br>-->
<!--    <select name="languages" multiple required>-->
<!--        <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"/>-->
<!--    </select>-->

<!--    </br></br>-->
<!--    <button type="submit">Create</button>-->

<!--</form>-->