<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nauczyciele</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<h1>LISTA NAUCZYCIELI</h1>

<button onclick="location.href='/teachers/create'">Add</button>
<!--<p3><a href="/teachers/create">dodaj</a> </p3>-->
<button onclick="window.location.href='/'" class="home-button">Home</button>

</br>
</br>

<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Imię</th>
        <th> Nazwisko</th>
        <th> Języki</th>
        <th> Status</th>
        <th> Version</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.languages}"></td>
        <td th:text="${teacher.version}"></td>
        <td>
            <button th:value="${teacher.id}" onclick="deleteTeacher(this.value)">usuń</button>
        </td>
        <!--        <td> <button th:value="${teacher.id}" onclick="deleteTeacher(this.value)">usuń</button> </td>-->


        <td th:text="${teacher.fired ? 'Zwolniony' : 'Zatrudniony'}"></td>
        <!--        <td>-->
        <!--            <button class="status-button" th:data-id="${teacher.id}" th:if="${!teacher.fired}">Zwolnij</button>-->
        <!--            <button class="status-button" th:data-id="${teacher.id}" th:if="${teacher.fired}">Zatrudnij</button>-->
        <!--        </td>-->
        <td>
            <button th:onclick="'location.href=\'/teachers/update/' + ${teacher.id} + '\''">Update</button>
        </td>


        <td>
            <button th:value="${teacher.id}" onclick="fireTeacher(this.value)" th:if="${!teacher.fired}">ZWOLNIJ
            </button>
            <button th:value="${teacher.id}" onclick="hireTeacher(this.value)" th:if="${teacher.fired}">ZATRUDNIJ
            </button>
        </td>


    </tr>


    </tbody>

</table>
</body>
</html>

<script type="text/javascript">

    function deleteTeacher(teacherId) {
        let url = "/teachers?teacherIdToDelete=" + teacherId;
        $.ajax({
            url: url,
            method: 'DELETE',
            success: function () {
                document.location.reload()
            },
            error: function () {
                alert("nie pykło!")
            }
        })
    }


    function fireTeacher(teacherId) {
        let url = "/teachers/fire/" + teacherId;
        $.ajax({
            url: url,
            method: 'PUT',
            success: function () {
                document.location.reload();
            },
            error: function () {
                alert("nie pykło!")
            }
        });
    }

    function hireTeacher(teacherId) {
        let url = "/teachers/hire/" + teacherId;
        $.ajax({
            url: url,
            method: 'PUT',
            success: function () {
                document.location.reload();
            },
            error: function () {
                alert("nie pykło!")
            }
        });
    }


</script>

